# XIAO BLE board configuration

# Copyright (c) 2022 Marcin Niestroj
# SPDX-License-Identifier: Apache-2.0

if BOARD_XIAO_LAB

config BOARD
	default "xiao_lab"

config BT_CTLR
	default BT

config BOARD_XIAO_LAB_INIT
	default y

endif # BOARD_XIAO_LAB

if USB_DEVICE_STACK

config UART_CONSOLE
	default CONSOLE

endif # USB_DEVICE_STACK
